.button {
  text-decoration: none;
  font: inherit;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  border-radius: 6px;
  display: inline-block;
  margin: 5px 5px 5px 0;
}
.button.small {
  font-size: 0.6rem;
}

.button button:hover,
.button button:active {
  transform: scale(1.04);
}

.flat {
  background-color: transparent;
  color: #3a0061;
  border: none;
}

.outline {
  background-color: transparent;
  border: 1px solid var(--primary);
  outline: 0;
}
.flat:hover,
.flat:active,
.outline:hover,
.outline:active {
  border: 1px solid #0c8ca7;
  transform: scale(1.001);
  outline: 0;
  text-decoration: none;
}
.success {
  background-color: var(--success);
  border: 1px solid var(--success);
  color: white;
}
.danger {
  background-color: var(--danger);
  border: 1px solid var(--danger);
  color: white;
}
.primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: white;
}
.info,
.default {
  background-color: var(--info);
  border: 1px solid var(--info);
  color: white;
}
.classic {
  background-color: #333333;
  border: 1px solid #333333;
  color: white;
}
.light {
  background-color: var(--itembackgroundColorList);
  border: 1px solid var(--itembackgroundColorList);
  color: var(--fontColor);
}
.orange {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  color: var(--fontColor);
}